/* CSS Variables */
:root {
  --primary-dark: #02020d;
  --red-wine: #40020d;
  --gold-accent: #f2ca50;
  --text-offwhite: #f2f2f2;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Urbanist", sans-serif;
}

body {
  background-color: var(--primary-dark);
  color: var(--text-offwhite);
  font-family: var(--font-sans);
}
